@{
    ViewBag.Title = "Generated Timetable";
}

<h2>Your Timetable</h2>

<table border="1">
    @foreach (var row in Model)
    {
        <tr>
            @foreach (var subject in row)
            {
                <td>@subject</td>
            }
        </tr>
    }
</table>
